*.pyc

simple_gs/.vscode
simple_gs/.idea
simple_gs/output
simple_gs/build
simple_gs/diff_rasterization/diff_rast.egg-info
simple_gs/diff_rasterization/dist
simple_gs/tensorboard_3d
simple_gs/screenshots
simple_gs/data

full_gs/.vscode
full_gs/.idea
full_gs/output
full_gs/build
full_gs/diff_rasterization/diff_rast.egg-info
full_gs/diff_rasterization/dist
full_gs/tensorboard_3d
full_gs/screenshots
full_gs/data